*.lock
*.pdf
*.tmp
*.vsix
*.xlk
*.~vsd*
*cache*
*~
.Trash-*
.directory
.fuse_hidden*
.history
.history/
.ionide
.jekyll-*
.nfs*
.vscode/*
.~lock.*#
Backup of *.doc*
_data
_site/
~$*.doc*
~$*.ppt*
~$*.xls*
