<header>
  <h1>Gedichtenkoffer</h1>
</header>

<nav>
  <h2>☰ Menu</h2>

  <input type="search" autofocus placeholder="🔍 Zoeken...">

  <ul>
    <li>
      <a href="{{ '/' | relative_url }}" aria-label="Over mij">Over mij</a>
    </li>

    {%- assign sorted_pages = site.pages | sort: 'map' -%}
    {%- assign filtered_pages = sorted_pages | where_exp: "page", "page.map != null" -%}
    {%- assign unique_map_names = filtered_pages | map: 'map' | uniq -%}
    {%- for map_name in unique_map_names -%}
    <li>
      <h3 class="toggle-submenu" aria-label="{{ map_name }}">
        {{ map_name }}
      </h3>
      <ul>
        {%- for page in filtered_pages -%}
        {%- if page.map == map_name -%}
        <li><a href="{{ page.url | relative_url }}" aria-label="{{ page.title }}">{{ page.title }}</a></li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </li>
    {%- endfor -%}
  </ul>
</nav>
<script src="{{ '/assets/menu.js' | relative_url }}?v={{ site.git_hash }}"
  integrity="{{ '/assets/menu.js' | source_path | read | minify: 'js' | sri_hash }}"></script>
