:root {
    --background: #EDEDED;
    --primary: #1976D2;
    --secondary: #FFFFFF;
    --text: #2E3436;
    --border: #D3D7CF;
    --hovered: #C4A000;
    --insensitivity: #555753;
    --danger: #A40000;
    --success: #4E9A06;
    --warning: #CE5C00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #2E3436;
        --secondary: #555753;
        --text: #D3D7CF;
        --border: #555753;
        --hovered: #888A85;
        --insensitivity: #CCCCCC;
        --danger: #EF2929;
        --success: #8AE234;
        --warning: #FCE94F;
    }
}

* {
    font-family: 'Cantarell', 'Arial', 'Helvetica', sans-serif;
    line-height: 1.5;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-radius: 0.5em;
}

html,
body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
}

body {
    padding: 1em;
}

main {
    border: 1px solid var(--border);
    background-color: var(--secondary);
}

@media screen and (max-width: 800px) {
    img {
        max-width: -webkit-fill-available;
    }

    main,
    nav {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    img {
        padding: 1em;
        max-width: 90%;
    }

    main,
    nav {
        float: left;
        display: block;
    }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    body {
        padding: 2em;
    }

    main {
        width: 60%;
    }

    nav {
        width: 30%;
    }
}

@media screen and (min-width: 1100px) {
    body {
        padding: 3em;
    }

    main,
    nav {
        padding: 1em;
    }

    nav {
        width: 40%;
        max-width: 20em;
    }

    main {
        width: 60%;
    }
}

img,
section,
footer {
    display: block;
    margin: 1em;
}

footer {
    clear: both;
    padding: 1em;
}

footer,
footer * {
    text-align: center;
    margin: 1em auto;
}

nav h2,
nav h3 {
    font-size: 1em;
}

nav ul,
nav ul li ul {
    list-style-type: none;
}

.toggle-submenu::before {
    content: '>';
    margin-right: 1em;
}

.toggle-submenu.active::before {
    content: 'v';
    margin-right: 1em;
}

nav ul li ul {
    display: none;
}

nav ul li ul.show {
    display: block;
}

nav h3,
a {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 0.5em;
}

nav h3:hover,
nav h3:active,
nav h3:focus,
a:hover,
a:active,
a:focus {
    color: var(--primary);
}

button {
    width: 10em;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    border: 1px solid var(--border);
    color: var(--secondary);
    background-color: var(--primary);
}

button:hover,
button:active,
button:focus {
    color: var(--text);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

@media (prefers-color-scheme: dark) {
    button {
        color: var(--text);
    }
}
