* {
    font-family: 'Cantarell', 'Arial', 'Helvetica', sans-serif;
    line-height: 1.5;
}

:root {
    --bg-color: #EDEDED;
    --text-color: #1A1A1A;
    --text-dark-color: #D3D7CF;
    --primary-color: #4A90D9;
    --secondary-color: #FFFFFF;
    --border-color: #CCCCCC;
    --link-color: #204a87;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #2E3436;
        --text-color: var(--text-dark-color);
        --primary-color: #3465A4;
        --secondary-color: #555753;
        --border-color: #888A85;
        --link-color: #729fcf;

        background-color: var(--bg-color);
        color: var(--text-color);
    }
}

article,
section {
    margin: 0 auto;
    padding: 1em;
}

footer,
article {
    text-align: center;
    max-width: 50em;
    margin: 0 auto;
    overflow: hidden;
}

.noscript,
#toggle {
    display: none;
}

@media screen and (max-width: 800px) {

    nav,
    nav a,
    nav details,
    nav ui {
        width: 100%;
    }

    #menu {
        display: none;
    }

    #toggle {
        display: block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media screen and (min-width: 800px) {

    article,
    nav {
        float: left;
    }

    nav,
    nav a,
    nav details,
    nav ui {
        width: 15em;
    }

    #menu {
        padding-right: 1em;
    }

    section {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        max-width: fit-content;
    }

    section::after {
        content: "";
        display: table;
        clear: both;
    }
}

article {
    border: 1px solid var(--border-color);
}

body,
article,
button,
img,
nav a,
nav ul,
nav ul li,
summary {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

article,
nav ul,
details div {
    border: 1px solid var(--border-color);
    background-color: var(--secondary-color);
}

.primary,
nav a:hover,
nav a:focus,
nav ul li:hover,
nav ul li:focus,
summary:hover,
summary:focus {
    background-color: var(--primary-color);
}

.primary,
nav a:hover,
nav a:focus nav ul li:hover,
nav ul li:focus {
    color: var(--secondary-color);
}

.primary:hover,
.secondary {
    background-color: var(--secondary-color);
}

.secondary:hover,
nav a:hover,
nav ul li a:hover {
    background-color: var(--primary-color);
}

a,
button {
    cursor: pointer;
}

.secondary,
nav a,
nav ul li a,
details,
summary {
    color: var(--text-color);
}

a,
img {
    transition: color 0.3s ease-in-out;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--primary-color);
}

a:focus {
    outline: 2px solid var(--primary-color);
}

img {
    max-width: 100%;
}

nav a,
nav ul {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
}

nav ul {
    padding: 0;
}

nav,
button {
    margin: 1em auto;
}

button,
summary,
nav a {
    padding: 0.5em;
    display: block;
}

nav a,
nav ul li {
    border-bottom: 1px solid var(--border-color);
}

nav a,
nav ul li:last-child {
    border-bottom: none;
}

nav a:hover,
nav a:focus,
nav ul li:hover,
nav ul li:focus {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.primary:hover,
.primary:active,
.primary:focus,
.secondary:hover,
.secondary:active,
.secondary:focus,
nav a:hover,
nav a:focus,
nav a:active,
nav ul li a,
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

details {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding: 0;
}

details[open] {
    background-color: var(--secondary-color);
}

button,
summary {
    border: none;
    cursor: pointer;
    list-style: none;
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] summary:before {
    transform: rotate(90deg);
}

article,
button,
nav a,
nav ul li,
summary,
details {
    border-radius: 5px;
}