<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>

<body>
  <section>
    <nav>
      {% assign sorted_pages = site.pages | sort: 'map' %}
      {% assign filtered_pages = sorted_pages | where_exp: "page", "page.map != null" %}
      {% assign unique_map_names = filtered_pages | map: 'map' | uniq %}
      {% for map_name in unique_map_names %}
      <details>
        <summary>{{ map_name }}</summary>
        <ul>
          {% for page in filtered_pages %}
          {% if page.map == map_name %}
          <li><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </details>
      {% endfor %}
    </nav>

    <article>
      {{ content }}
    </article>
  </section>

  <footer>
    {% capture footer_content %}
    {% include footer.md %}
    {% endcapture %}
    {{ footer_content | markdownify }}
  </footer>
</body>

</html>