<!DOCTYPE html>
<html lang="nl">

<head>
  <title>{%- if page.title -%}{{ page.title }}{%- else -%}Gedichtenkoffer{%- endif -%}</title>
  {%- include_cached meta.html -%}
</head>

<body>
  {%- include_cached sw.html -%}

  <section>
    {%- include_cached nav.html -%}

    <article aria-label="gedicht">
      {{ content }}
    </article>
  </section>

  {%- include_cached share.html -%}

  <footer>
    {%- capture footer_content -%}
    {%- include_cached footer.md -%}
    {%- endcapture -%}
    {{ footer_content | markdownify }}
  </footer>
</body>

</html>